<% include common/header.ejs %>
<form method="post">
    <div id="register" class="animate form">
        <h1>Sign up</h1>
        <p>
            <label for="usernamesignup" class="uname" data-icon="u">Username</label>
            <input id="usernamesignup" name="name"  type="text" placeholder="username">
        </p>

        <p>
            <label for="passwordsignup" class="youpasswd" data-icon="u">Password</label>
            <input id="passwordsignup" name="password" type="password" placeholder="password">
        </p>

        <p class="signin button">
            <input type="submit" value="Sign up"/>
        </p>
    </div>
</form>
<% include common/footer.ejs %>